@import "./reset.css";
@import "../fonts/fonts.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #f2d5cc;
    overflow-x:hidden;
}

.background-container  {
    background-image: url("../images/header-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*Header starts */

.header {
    width: 100vw;
    /*position: fixed;*/
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1460px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

/* TODO make logo as a link */
.hd-logo {
    background-image: url("../images/SKinfLog.png");
    background-repeat: no-repeat;
    background-size: 216px 33px;
    background-position: center;
    width: 216px;
    height: 33px;
}

.hd-phone {
    color: #FFFFFF;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    flex-basis: 55%;
    text-align: end;
    align-self: center;
}

.hd-gold {
    color: #D6AF76;
}


.hd-callback-button {
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/ico-phone.svg);
    padding-right: 8px;
    box-sizing: content-box;
}

.hd-callback-button:hover .sidebar-icon {
    background-image: url(../images/ico-phoneblack.svg);
}

/* Header ends */

/*Main starts*/

.main {
    width: 100vw;
    /*font-family: 'Gilam', sans-serif;*/
    font-family: 'Circe', sans-serif;
    color: #FFFFFF;
}

.section-wrapper {
    max-width: 1460px;
    margin: 0 auto;
    padding-bottom: 191px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*Work-list starts*/

.work-list {
    margin-top: 120px;
    max-width: 1460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.work-list-descr{
    margin: 41px 0;
    width: 81%;
    /*width: 1182px;*/
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.work-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-rows: 468px 468px;
    grid-gap: 25px;
}

.work-grid-item {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.work-grid-item:nth-child(1) {
    background: #634F2C;
}

.work-grid-item:nth-child(2){
    background: #B4A385;
    grid-column: span 2;
}

.work-grid-item:nth-child(3){
    background: #E4B564;
}

.work-grid-item:nth-child(4){
    background: #635A4A;
    grid-column: span 2;
}

.work-grid-item:nth-child(5){
    background: #B08C4D;
    grid-column: span 2;
}

/*Work-list ends*/

/*Advantage list starts*/

.adv-list {
    margin-top: 161px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adv-grid-wrapper {
    margin-top: 94px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/*Grid column*/

.adv-grid-column-left {
    display: grid;
    grid-template-rows: minmax(max-content, 313px) minmax(max-content, 560px);
    grid-gap: 24px;
}

.adv-grid-column-center {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: minmax(max-content, 439px) minmax(max-content, 405px);
    grid-gap: 33px;
}

.adv-grid-column-right {
    display: grid;
    grid-template-rows: minmax(max-content, 255px) minmax(max-content, 313px) minmax(max-content, 277px);
    grid-gap: 26px;
}

/*Grid rows*/

.adv-grid-row {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 48px;
}

.row-span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

/*Advantages Left column*/
.adv-grid-column-left .adv-grid-row:nth-child(1) {
    background: #0E0E0E;
    padding-left: 52px;
}

.adv-grid-column-left .adv-grid-row:nth-child(2) {
    background: #1F1F1F;
    padding: 56px 52px;
}
/*Advantages Center column*/
.adv-grid-column-center .adv-grid-row:nth-child(1) {
    background: #242424;
}

.adv-grid-column-center .adv-grid-row:nth-child(2) {
    background: #E4B564;
    color: #000000;
    padding: 47px 52px;
}

/*Advantages Right column*/

.adv-grid-column-right .adv-grid-row:nth-child(1) {
    background: #1F1F1F;
}

.adv-grid-column-right .adv-grid-row:nth-child(2) {
    background: #0E0E0E;
}

.adv-grid-column-right .adv-grid-row:nth-child(3) {
    background: #0A0909;
}

/*Advantage list ends*/

/*Footer*/

.footer {
    width: 100vw;
    background-image: url("../images/parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 200px;
}

.footer-wrapper{
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 172px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-button {
    padding: 10px 40px;
}

.footer-grid {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(auto, 391px));
}

.footer-grid-item:first-child, .footer-grid-item:last-child {
    background-color: #634F2C;
    background-image: url("../images/EID.svg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}

.mavis {
    height: 55px;
}

.footer-grid-item:nth-child(2) {
    background-color: rgba(232, 210, 171, 0.76);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mavis-normal{
    padding-top: 16px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}
.mavis-bold {
    font-weight: 600;
}

.arsenal {
    background-image: url("../images/ars.png");
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
}

.footer-grid-item:nth-child(3) {
    background-color: #E4B564;
}

.footer-grid-item:nth-child(4) {
    background-color: #635A4A;
}

.footer-grid-item:nth-child(5) {
    background-color: #B08C4D;
    background-image: url("../images/SetGroup.png");
    background-repeat: no-repeat;
    background-size: 119px;
    background-position: center;
}

/*MODIFICATORS REUSABLE*/

.title{
    font-family: 'Circe', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.button {
    color: #E4B564;
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
}

.button:hover {
    background-color: #E4B564;
    color: black;
}
